<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="todoListApp">
    <h1>My TODOs!</h1>
    <div ng-controller="mainCtrl" class="list">
        <div class="add">
            <a href="" ng-click="addTodo()">+ Add a New Task</a>
        </div>
        <div class="item" ng-repeat="todo in todos" ng-class="{'editing-item': editing, 'edited': todo.edited}">
            <input type="checkbox" ng-model="todo.completed">
            <label ng-hide="editing">{{todo.name}}</label>
            <input class="editing-label" type="text" ng-show="editing" ng-model="todo.name" ng-blur="editing = false" ng-change="todo.edited = true">
            <div class="actions">
                <a href="" ng-click="editing = !editing">Edit</a>
                <a href="" ng-click="saveTodos()">Save</a>
                <a class="delete" href="" ng-click="deleteTodo(todo, $index)">Delete</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/data.js"></script>
</body>
</html>